<md-dialog class="tub-login" aria-label="Login dialog" ng-cloak flex="80" flex-gt-sm="40">
  <form name="loginForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container>
          <label>Email</label>
          <input ng-model="vm.email" type="email" name="vmEmail" ng-focus="vm.inputFocus()" required>
          <span class="md-caption" md-style-color="{'color': 'warn.'}"
              ng-show="loginForm.vmEmail.$error.required && (loginForm.vmEmail.$error.touched || loginForm.$submitted)">Required</span>
          <span class="md-caption" md-style-color="{'color': 'warn.'}"
              ng-show="loginForm.vmEmail.$error.email && (loginForm.vmEmail.$error.touched || loginForm.$submitted)">Invalid email format</span>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="vm.password" type="password" name="vmPassword" required>
          <span class="md-caption" md-style-color="{'color': 'warn.'}"
              ng-show="loginForm.vmPassword.$error.required && (loginForm.vmPassword.$error.touched || loginForm.$submitted)">Required</span>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.login('username')">
        OK
      </md-button>
      <md-button ng-click="vm.cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
