<md-dialog aria-label="View permissions" ng-cloak flex="80" flex-gt-sm="40">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Current Permissions</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content" layout="column">
      <md-list>
        <md-list-item ng-repeat="perm in vm.permissions" layout="row">
          <md-tooltip md-direction="left">
            <span ng-if="!perm.granted">Not Granted</span>
            <span ng-if="perm.granted">Granted</span>
          </md-tooltip>
          <md-icon ng-if="perm.granted" md-style-color="{'color': 'primary.'}" flex="10">check</md-icon>
          <md-icon ng-if="!perm.granted" md-style-color="{'color': 'warn.'}" flex="10">close</md-icon>
          <div class="md-body-1" flex>{{perm.description}}</div>
        </md-list-item>
      </md-list>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="vm.cancel()">
      Done
    </md-button>
  </md-dialog-actions>
</md-dialog>
