<div flex="noshrink">
  <md-content style="background-color: inherit;">
    <md-list flex>
      <md-list-item ng-repeat="option in vm.sidebarOptions"
          class="md-1-line" ui-sref="{{option.stateName}}" ng-disabled="!option.authorized">
        <div layout="row" flex>
          <md-tooltip ng-if="!option.authorized" md-direction="right">Authorization Required</md-tooltip>
          <md-icon ng-if="option.authorized" md-style-color="{'color': 'primary.'}">{{option.iconName}}</md-icon>
          <md-icon ng-if="!option.authorized" md-style-color="{'color': 'warn.'}">{{option.iconName}}</md-icon>
          <div flex="5"></div>
          <div class="md-list-item-text">
            <h3>{{option.title}}</h3>
          </div>
          <div flex></div>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>
<div flex="100" style="background-color=green;"></div>
